html {
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
}

 
.logo a{
    text-decoration: none;
    color: #324;
}

.nav-container{
    display: block;
    width: 140%;
    margin: 0 auto;
    padding: 0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li{
    display: block;
    float: left;
    width: 25%;
    padding: 1em 0;
    text-align: center;
    background-color: #2f6470;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

.main-container{
    margin: 0 0 60px 0;
}

.img3{
    float : right;
    padding: 0;
    margin: 0 auto;
}


.main_img{
    width: 80%;
    margin: 10px auto;
    padding: 3px;
    display: block;
    border: 1px #274 solid;
    caption-side: bottom;
}

.img_caption{
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;    
}

.footer-xontainer{
    padding: 5px 10px;
    background: #2f6470;
    color: #fff;
}

index.html{
    text-decoration: none;
     color: #05fff5;
}

a:hover{
    color: #05fff5;
}

















